.loader {
  animation: pulsatingOpacity 2s infinite;
  width: 100%;
  background: $loading-color;
  opacity: 0;
  visibility: hidden;

  [data-is-loading] & {
    opacity: 1;
    visibility: visible;
  }
}
